local M = {}

function M.setup()
  if vim.env.KITTY_THEME == 'solarized-light' then
    GruvboxTheme('light')
  elseif vim.env.KITTY_THEME == 'solarized-dark' then
    MaterialTheme('dark')
  elseif vim.env.KITTY_THEME == 'gruvbox-light' then
    GruvboxTheme('light')
  elseif vim.env.KITTY_THEME == 'gruvbox-dark' then
    GruvboxTheme('dark')
  else
    GruvboxTheme('light')
  end
  vim.opt.guifont = 'JetBrainsMono Nerd Font:h9'
end

return M
