[user]
	email = jeanlucthumm@gmail.com
	name = Jean-Luc Thumm
[core]
	pager = delta -s --line-numbers-zero-style black
	excludesfile = ~/.config/.gitignore
[init]
	defaultBranch = master
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = cache
