[user]
  email = jeanlucthumm@gmail.com
  name = Jean-Luc Thumm
[core]
  pager = delta --line-numbers-zero-style black
  excludesfile = ~/.config/.gitignore
[interactive]
  diffFilter = delta --color-only
[merge]
  tool = meld
  conflictstyle = diff3
[mergetool "meld"]
  cmd = meld --auto-merge "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[credential]
  helper = cache
[alias]
  de = diff
  s = status
  stat = status
  d = diff --cached
  tree = log --graph --decorate --oneline --all -n 25
  check = checkout
  com = commit -m
  m = commit -m
  a = add -A
[safe]
  directory = /opt/flutter
[delta]
  side-by-side = true
  navigate = true
  width = 300
[commit]
  gpgsign = true
[gpg]
  program = gpg
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
[init]
	defaultBranch = master
[include]
  path = .gitconfig-key
  path = .config/delta/themes.gitconfig
[rebase]
	merges = true
