[user]
	email = jeanlucthumm@gmail.com
	name = Jean-Luc Thumm
	signingkey = B4710A8A5E391635
[core]
	pager = delta -s --line-numbers-zero-style black
	excludesfile = ~/.config/.gitignore
[init]
	defaultBranch = master
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = cache
[alias]
	d = diff
	s = status
	de = diff --cached
[safe]
	directory = /opt/flutter
[delta]
  side-by-side = true
[commit]
  gpgsign = true
[gpg]
  program = gpg
