* {
    border: none;
    border-radius: 0px;
    font-family: "Inconsolata";
    font-size: 10px;
    min-height: 0;
    color: #fbf1c7;
}

window#waybar {
    border-bottom-style: inset;
    /* border-bottom: 4px solid #689d6a; */
    background: #282828;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 800;
}

/* Workspace Buttons */
#workspaces button label {
    color: #928374;
}

#workspaces button {
  padding: 2px 2px;
}

#workspaces button.active label {
    color: #fbf1c7;
}

#mode {
    background-color: #cc241d;
    color: white;
}

#custom-timew #custom-task {
    padding: 2px 5px;
    margin: 0 10px;
}
 
#clock {
  padding: 5px 2px 5px 10px;
  margin: 0 10px;
}


#idle_inhibitor {
    padding: 0 10px;
}

#idle_inhibitor.activated {
    background-color: #689d6a;
    color: #1d2021;
}


#clock {
    margin: 0;
}

#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#pulseaudio.muted {
    padding: 0 20px;
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}
