window {
  font-family: "DejaVu Sans";
  font-size: 14px;
}

window {
  border-radius: 20px;
  border: solid 2px;
}

#input {
  padding: 10px;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

#input:focus {
  border: none;
  outline: none;
}

#inner-box {
  margin: 10px;
  margin-top: 0px;
  border-radius: 20px;
}

#outer-box {
  border: none;
}

#scroll {
  margin: 0px 10px 20px 10px;
}

#text:selected {
  color: #fff;
}

#img {
  background: transparent;
  margin-right: 10px;
  margin-left: 5px;
}

#entry {
  padding: 10px;
  border: none;
  border-radius: 20px;
}

#entry:selected {
  outline: none;
  border: none;
}
