# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
gen/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Environment
.env

# Claude
CLAUDE.local.md
.claude/settings.local.json
